@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    text-align: center;
    border-bottom: 1px solid #33A8DB;
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .banner-content h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    background-clip: text;
}

.banner .banner-content p {
    display: block;
    margin: 16px 0 24px;
    font-size: 1.25rem;
}

.banner .banner-content {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 16px;
}

.banner .banner-content button {
    background-color: transparent;
    color: #31A8DD;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 1;
    border-radius: 30px;
    font-weight: 900;
    font-size: 1em;
    padding: 16px 32px;
    margin-top: 1em;
}

body {
    background-color: #000;
}

p {
    color: #fff;
}