@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-bottom: 1px solid #33A8DB;
    width: 100vw;
    height: 605px;
}

.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .banner-content h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    background-clip: text;
}

.banner .banner-content p {
    display: block;
    margin: 16px 0 24px;
    font-size: 20px;
    max-width: 600px;
    text-align: center;
    margin: auto;
    padding: 30px;
    letter-spacing: 1px;
    line-height: 23.48px;
    width: 510px;
    height: 46px;
}

.banner .banner-content {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
}

.banner .banner-content button {
    width: 326px;
    height: 57px;
    background-color: transparent;
    color: #31A8DD;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 1;
    font-weight: 1;
    font-size: 16px;
    padding: -10px 91px;
    text-align: center;
}

body {
    background-color: #000;
}

p {
    color: #fff;
}